.container-chat{
    min-height: 600px;
    //overflow-x: hidden;
    z-index: 9999999999;
}

.item-conversation-infos{
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media only screen and (max-width: 576px) {
    .container-chat{
        position: relative;
        min-height: 900px;
        .container-chat-message{
            position: fixed;
            z-index: 9;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            visibility: hidden;
            transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transition: all 0.4s;
            padding: 0;
            &.open{
                visibility: visible;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }

}
